body {
    font-family: monospace;
    font-size: 16px;
    margin: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
}
textarea {
    resize: none;
    width: 90%;
    height: 400px;
}

#input {
    background-color: #EEE;
    flex-basis: 600px;
    flex-grow: 3;
    padding: 10px;
    margin: 10px;
}

#controls {
    flex-basis: 200px;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}

#controls-options {
    margin-top: 20px;
}

#encoded {
    background-color: #EEE;
    flex-basis: 600px;
    flex-grow: 3;
    padding: 10px;
}

#encoded-eris-urn {
    width: 90%;
}

#encoded-data {
    white-space: pre-wrap;
    max-height: 300px;
    overflow: auto;
}

#blocks {
    background-color: #EEE;
    margin: 10px;
    flex-grow: 1;
}

