body {
    font-family: monospace;
    font-size: 16px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
textarea {
    resize: none;
    width: 90%;
    height: 200px;
}

#input {
    width: 600px;
    padding: 10px;
}

#controls {
    width: 200px;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}

#controls-options {
    margin-top: 20px;
}

#encoded {
    width: 600px;
    padding: 10px;
}

#encoded-eris-urn {
    width: 90%;
}

#encoded-data {
    white-space: pre-wrap;
}

